repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.14
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: check-sync-async-methods-for-queue
        name: Check sync/async method for queue
        entry: ./scripts/ci/pre_commit/check_sync_async_methods_for_queue.py
        files: ^pgmq_sqlalchemy/.*\.py$
        language: python
      - id: check-sync-async-methods-for-operation
        name: Check sync/async methods for operation
        entry: ./scripts/ci/pre_commit/check_sync_async_methods_for_operation.py
        files: ^pgmq_sqlalchemy/.*\.py$
        language: python