services:
  pgmq_postgres:
    container_name: pgmq_postgres
    image: quay.io/tembo/pg16-pgmq:v4c7423b
    env_file:
      - pgmq_postgres.env
    ports:
      - "5432:5432"
    command: ["-c", "max_connections=20000"]
    volumes:
      - ./stateful_volumes/pgmq_postgres:/var/lib/postgresql

  pgmq_tests:
    container_name: pgmq_tests
    build:
      context: .
      dockerfile: dockerfile
    env_file:
      - pgmq_tests.env
    depends_on:
      - pgmq_postgres
    volumes:
      - ./stateful_volumes/htmlcov:/pgmq_sqlalchemy_test/htmlcov
    command: ["python","-m","pytest", "-v", "--cov=pgmq_sqlalchemy.queue", "--cov-report=html", "-n", "auto", "tests"]

networks:
  default:
    name: pgmq_sqlalchemy